[MASTER]
ignore=CVS
ignore-patterns=.*_pb2\.py,version\.py,.*_pb2_grpc\.py
persistent=yes

disable=consider-using-f-string,logging-format-interpolation,design,similarities,no-self-use,attribute-defined-outside-init,locally-disabled,star-args,pointless-except,bad-option-value,global-statement,fixme,suppressed-message,useless-suppression,locally-enabled,no-member,no-name-in-module,import-error,unsubscriptable-object,unbalanced-tuple-unpacking,undefined-variable,not-context-manager,missing-docstring,missing-function-docstring,invalid-name

[TYPECHECK]
ignore-mixin-members=yes
ignored-classes=SQLObject
generated-members=REQUEST,acl_users,aq_parent

[VARIABLES]
dummy-variables-rgx=^\*{0,2}(_$|unused_|dummy_)

[BASIC]
module-rgx=(([a-z_][a-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$
const-rgx=^(_?[A-Z][A-Z0-9_]*|__[a-z0-9_]+__|_?[a-z][a-z0-9_]*)$
class-rgx=^_?[A-Z][a-zA-Z0-9]*$
function-rgx=^(?:(?P<camel_case>_?[A-Z][a-zA-Z0-9]*)|(?P<snake_case>_?[a-z][a-z0-9_]*))$
method-rgx=^(?:(?P<exempt>__[a-z0-9_]+__|next)|(?P<camel_case>_{0,2}[A-Z][a-zA-Z0-9]*)|(?P<snake_case>_{0,2}[a-z][a-z0-9_]*))$
attr-rgx=^_{0,2}([a-z][a-z0-9_]*|[A-Z][A-Z_]+)$
argument-rgx=^[a-z][a-z0-9_]*$
variable-rgx=^[a-z][a-z0-9_]*$
class-attribute-rgx=^(_?[A-Z][A-Z0-9_]*|__[a-z0-9_]+__|_?[a-z][a-z0-9_]*)$
inlinevar-rgx=^[a-z][a-z0-9_]*$
good-names=main,_
no-docstring-rgx=(__.*__|main)
docstring-min-length=10

[FORMAT]
max-line-length=150
ignore-long-lines=^\s*(# )?<?https?://\S+>?$
single-line-if-stmt=y
max-module-lines=99999
indent-string='    '

[SIMILARITIES]
min-similarity-lines=4
ignore-comments=yes
ignore-docstrings=yes

[CLASSES]
defining-attr-methods=__init__,__new__,setUp
valid-classmethod-first-arg=cls,class_
valid-metaclass-classmethod-first-arg=mcs

[DESIGN]
max-args=8
ignored-argument-names=_.*
max-locals=15
max-returns=6
max-branches=12
max-statements=50
max-parents=7
max-attributes=7
min-public-methods=2
max-public-methods=20
