[MASTER]
ignore=CVS
persistent=yes

disable=consider-using-f-string,logging-format-interpolation,design,similarities,no-self-use,attribute-defined-outside-init,locally-disabled,star-args,pointless-except,bad-option-value,global-statement,fixme,suppressed-message,useless-suppression,locally-enabled,no-member,no-name-in-module,import-error,unsubscriptable-object,unbalanced-tuple-unpacking,undefined-variable,not-context-manager,missing-docstring,missing-function-docstring,invalid-name,missing-class-docstring,missing-param-docstring,redefined-outer-name,unused-argument,too-many-arguments,too-few-public-methods,protected-access,broad-exception-caught,broad-exception-raised

[TYPECHECK]
ignore-mixin-members=yes
ignored-classes=SQLObject
generated-members=REQUEST,acl_users,aq_parent

[BASIC]
good-names=_,mock

[FORMAT]
max-line-length=150

[DESIGN]
max-args=15
max-locals=20
max-returns=10
max-branches=20
max-statements=80
